{% extends './main.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="header-bar">
    <h1>Register</h1>
    {% for error in form.non_field_errors %}
        {{error}}
    {% endfor %}
        
</div>
<div class="card-body">
    {% if validlink %} 
        <form method="POST" novalidate>
            {% csrf_token %}
            
            {{form.new_password1|as_crispy_field}}

            {{form.new_password2|as_crispy_field}}
            <br>
            <input style="margin-top:10px ;" class="button" type="submit" value="Register">
        </form>
    {% else %}
            <br><br>
            <h3>this link is not valid.please try again</h3>
            <br><br>

    {% endif %}
    <p>Already have an account? <a href="{% url 'account:login' %}"class="btn btn-danger">Login</a></p>
</div>



{% endblock content %}
