{% extends 'base.html' %}
{% load static %}


{% block active_profile %}
	class="current-list-item"
{% endblock active_profile%}

{% block css %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">

    <style>
        .profile-head {
            transform: translateY(5rem)
        }

        .cover {
            background-image: url(https://images.unsplash.com/photo-1530305408560-82d13781b33a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1352&q=80);
            background-size: cover;
            background-repeat: no-repeat
        }

        body {
            background: #654ea3;
            background: #f6ebe1;
            min-height: 100vh;
            overflow-x: hidden;
        }
        .bg{
            background-color: #cb693145;
        }
    </style>
{% endblock css %}
    

{% block content %}  
        <div class="row py-5 px-4">
            <div class="col-md-5 mx-auto">
                <!-- Profile widget -->
                <div class="bg shadow rounded overflow-hidden">
                    <div class="px-4 pt-0 pb-4 cover">
                        <div class="media align-items-end profile-head">
                            <div class="profile mr-3">
                                
                                {% if profile.photo.url is not None %}
                                    <img src="{{profile.photo.url}}"
                                    alt="..." width="130" class="rounded mb-2 img-thumbnail">
                                {% else %}
                                    <img src="{% static 'account/assets/images/profile_deafult.png' %} "
                                    alt="..." width="130" class="rounded mb-2 img-thumbnail">
                                {% endif %}
                                
                                {% if request.user.id == profile.user.id %}
                                    <a href="{% url 'account:edit_profile' %}"
                                    class="btn btn-outline-dark btn-sm btn-block">Edit profile</a></div>
                                {% else %}
                                    
                                    {% if is_follow %}
                                        <a href="{% url 'account:unfollow' user.id   %}"
                                        class="btn btn-outline-dark btn-sm btn-block">UnFollow</a></div>
                                    {% else %}
                                        <a href="{% url 'account:follow' user.id   %}"
                                        class="btn btn-outline-dark btn-sm btn-block">Follow</a></div>
                                            
                                    {% endif %}
                                        

                                {% endif %}

                                    

                            <div class="media-body mb-5 text-white">
                                <h4 class="mt-0 mb-0">{{profile.get_first_name}} {{profile.get_last_name}}</h4>
                                {% if profile.city is not None or profile.country is not None   %}
                                <h4 class="mt-0 mb-0">{{profile.get_city}} / {{profile.get_country}}</h4>
                                    <p class="small mb-4"> <i class="fas fa-map-marker-alt mr-2"></i> </p>
                                {% else %}
                                
                                    <p class="small mb-4"> <i class="fas fa-map-marker-alt mr-2"></i></p>

                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="bg-light p-4 d-flex justify-content-end text-center">
                        <ul class="list-inline mb-0">
                            <li class="list-inline-item">
                                <h5 class="font-weight-bold mb-0 d-block">{{posts.count}}</h5><small class="text-muted"> <i
                                        class="fas fa-image mr-1"></i>Photos</small>
                            </li>
                            <li class="list-inline-item">
                                <h5 class="font-weight-bold mb-0 d-block">{{user.follower.count}}</h5><small class="text-muted"> <i
                                        class="fas fa-user mr-1"></i>Followers</small>
                            </li>
                            <li class="list-inline-item">
                                <h5 class="font-weight-bold mb-0 d-block">{{user.following.count}}</h5><small class="text-muted"> <i
                                        class="fas fa-user mr-1"></i>Following</small>
                            </li>
                        </ul>
                    </div>
                    <div class="px-4 py-3">
                        <h5 class="mb-0">About</h5>
                        <div class="p-4 rounded shadow-sm bg-light">
                            <p class="font-italic mb-0">{{profile.about}}</p>
                        </div>
                    </div>
                    <div class="py-4 px-4">
                        <div class="d-flex align-items-center justify-content-between mb-3">
                            <h5 class="mb-0">photos</h5><a href="#" class="btn btn-link text-muted"></a>
                        </div>
                        <div class="row">
                            {% for post in posts %}
                                <div class="col-lg-6 mb-2 pr-lg-1">
                            <a href="{% url 'social_media:update_post' post.id %}"><img src="{{post.image.url}}"
                                alt="" class="img-fluid rounded shadow-sm"></a></div>


                            {% endfor %}


                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock content %}
