{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/">

	<!-- title -->
	<title>News</title>

	<!-- favicon -->
	<link rel="shortcut icon" type="image/png" href="assets/img/favicon.png">
	<!-- google font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
	<!-- fontawesome -->
	<link rel="stylesheet" href="{% static 'social_media/home/assets/css/all.min.css' %}">
	<!-- bootstrap -->
	<link rel="stylesheet" href="{% static 'social_media/home/assets/bootstrap/css/bootstrap.min.css' %}">
	<!-- owl carousel -->
	<link rel="stylesheet" href="{% static 'social_media/home/assets/css/owl.carousel.css' %}">
	<!-- magnific popup -->
	<link rel="stylesheet" href="{% static 'social_media/home/assets/css/magnific-popup.css' %}">
	<!-- animate css -->
	<link rel="stylesheet" href="{% static 'social_media/home/assets/css/animate.css' %}">
	<!-- mean menu css -->
	<link rel="stylesheet" href="{% static 'social_media/home/assets/css/meanmenu.min.css' %}">
	<!-- main style -->
	<link rel="stylesheet" href="{% static 'social_media/home/assets/css/main.css' %}">
	<!-- responsive -->
	<link rel="stylesheet" href="{% static 'social_media/home/assets/css/responsive.css' %}">
	
	<link href="{% static 'css/main_search.css' %}" rel="stylesheet" />


    
    {% block css %}

    {% endblock css %}
        

    <!-- created page -->
  

    <!-- profile  page-->




</head>
<body>
	
	<!--PreLoader-->

    <!--PreLoader Ends-->
	
		<div class="top-header-area" id="sticker">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-sm-12 text-center">
						<div class="main-menu-wrap">
							<!-- logo -->
							<div class="site-logo">
								<a href="index.html">
									<img src="assets/img/logo.png" alt="">
								</a>
							</div>
							<!-- logo -->

							<!-- menu start -->
							<nav class="main-menu">
								<ul>
									
									<li ><a href="{% url 'shop:product_list' %}">Shop</a></li>
									<li ><a href="{% url 'blog:article_list' %}">Blog</a></li>
									<li {% block active_home %}{% endblock active_home %}><a href="{% url 'social_media:post_list' %}">Social Media</a></li>

									<li {% block active_create_post %}{% endblock active_create_post %} ><a href="{% url 'social_media:post_create' %}">{% block create_or_update %}Create Post{% endblock  %}
										</a></li>
									

									{% if request.user.is_authenticated %}
										<li {% block active_chat %}{% endblock active_chat %} ><a href="{% url 'chat:direct_message' request.user.id %}">Chat</a></li>

										<li {% block active_profile %}{% endblock active_profile %}><a href="{% url 'account:profile' request.user.id %}">Profile</a></li>
										<li ><a href="{% url 'account:logout'%}">Logout</a></li>
									{% else %}
										<li ><a href="{% url 'account:login'%}">Chat</a></li>
										<li><a href="{% url 'account:login'%}">Profile</a></li>
										<li><a href="{% url 'account:login'%}">Login</a></li>
										<li><a href="{% url 'account:register'%}">Register</a></li>
									{% endif %}

									<li></li>
								</ul>
							</nav>
							
							{% block search %}
								
							{% endblock search %}
							
							<!-- menu end -->
						</div>
					</div>
				</div>
			</div>
		</div>
		
		
	
	<!-- header -->

	<!-- end header -->

	<!-- search area -->
	<div class="search-area">
		<div class="col-lg-12">
			<span class="close-btn"><i class="fas fa-window-close"></i></span>
			<div class="search-bar">
				<div class="search-bar-tablecell">
					<h3>Search For:</h3>
					<input type="text" placeholder="Keywords">
					<button type="submit">Search <i class="fas fa-search"></i></button>
				</div>
			</div>
		</div>
	</div>
	<!-- end search arewa -->
	
	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		{% block header %}	

		{% endblock header %}
	</div>
	<!-- end breadcrumb section -->

	<!-- latest news -->
	
    {% block content %}
        
    {% endblock content %}
        
	
	<!-- jquery -->
	<script src="{% static 'social_media/home/assets/js/jquery-1.11.3.min.js' %}"></script>
	<!-- bootstrap -->
	<script src="{% static 'social_media/home/assets/bootstrap/js/bootstrap.min.js' %}"></script>
	<!-- count down -->
	<script src="{% static 'social_media/home/assets/js/jquery.countdown.js' %}"></script>
	<!-- isotope -->
	<script src="{% static 'social_media/home/assets/js/jquery.isotope-3.0.6.min.js' %}"></script>
	<!-- waypoints -->
	<script src="{% static 'social_media/home/assets/js/waypoints.js' %}"></script>
	<!-- owl carousel -->
	<script src="{% static 'social_media/home/assets/js/owl.carousel.min.js' %}"></script>
	<!-- magnific popup -->
	<script src="{% static 'social_media/home/assets/js/jquery.magnific-popup.min.js' %}"></script>
	<!-- mean menu -->
	<script src="{% static 'social_media/home/assets/js/jquery.meanmenu.min.js' %}"></script>
	<!-- sticker js -->
	<script src="{% static 'social_media/home/assets/js/sticker.js' %}"></script>
	<!-- main js -->
	<script src="{% static 'social_media/home/assets/js/main.js' %}"></script>

	<script src="{% static 'js/main_search.js' %}"></script>
	<script>
		var textPresetVal = new Choices('#choices-text-preset-values',
		{
			removeItemButton: true,
		});
	<script>
	
    {% block js %}

    {% endblock js %}
        


</body>
</html>