{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">

<head>
	<title>Login V3</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="{% static 'account/register_login/images/icons/favicon.ico"' %}/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static '
		account/register_login/vendor/bootstrap/css/bootstrap.min.css' %}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css"
		href="{% static 'account/register_login/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css"
		href="{% static 'account/register_login/fonts/iconic/css/material-design-iconic-font.min.css' %}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'account/register_login/vendor/animate/animate.css' %}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css"
		href="{% static 'account/register_login/vendor/css-hamburgers/hamburgers.min.css' %}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css"
		href="{% static 'account/register_login/vendor/animsition/css/animsition.min.css' %}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'account/register_login/vendor/select2/select2.min.css' %}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css"
		href="{% static 'account/register_login/vendor/daterangepicker/daterangepicker.css' %}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'account/register_login/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'account/register_login/css/main.css' %}">
	<!--===============================================================================================-->
</head>




	
<body>
	{% include 'inc/messages.html' %}

	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form class="login100-form validate-form" action="" method="post"><br><br><br>
					
					{% block content %}
						<span class="login100-form-logo">
							<img src="{% static 'images/sofa.png' %}" height="175px" alt="Image" class="img-fluid">
						</span>

						<span class="login100-form-title p-b-34 p-t-27"></span>
							{% csrf_token %}
							<div class="wrap-input100 validate-input">
								{{form.phone_number|add_class:'input100'}}
								<span class="focus-input100" data-placeholder="&#xf207;"></span>
							</div>

							<div class="wrap-input100 validate-input">
								{{form.email|add_class:'input100'}}
								<span class="focus-input100" data-placeholder="&#xf207;"></span>
							</div>

							<div class="wrap-input100 validate-input" data-validate="Enter password">
								{{form.password1|add_class:'input100'}}
								<span class="focus-input100" data-placeholder="&#xf191;"></span>
							</div>

							<div class="wrap-input100 validate-input" data-validate="Enter password">
								{{form.password2|add_class:'input100'}}
								<span class="focus-input100" data-placeholder="&#xf191;"></span>
							</div>
								<div class="container-login100-form-btn">
										<button class="login100-form-btn">
											Register
										</button>
								</div>
								<div class="text-center p-t-90">

									<a class="txt1" href="{% url 'account:login' %}">
										Login
									</a><br>
									<a class="txt1" href="{% url 'shop:product_list' %}">
										Go Shop
									</a>
																</div>		
					{% endblock content %}
				</form>
				{% block go_back %}
				{% endblock  %}
					
			</div>
		</div>
	</div>



	<div id="dropDownSelect1"></div>

	<!--===============================================================================================-->
	<script src="{% static 'account/register_login/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
	<!--===============================================================================================-->
	<script src="{% static 'account/register_login/vendor/animsition/js/animsition.min.js' %}"></script>
	<!--===============================================================================================-->
	<script src="{% static 'account/register_login/vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'account/register_login/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
	<!--===============================================================================================-->
	<script src="{% static 'account/register_login/vendor/select2/select2.min.js' %}"></script>
	<!--===============================================================================================-->
	<script src="{% static 'account/register_login/vendor/daterangepicker/moment.min.js' %}"></script>
	<script src="{% static 'account/register_login/vendor/daterangepicker/daterangepicker.js' %}"></script>
	<!--===============================================================================================-->
	<script src="{% static 'account/register_login/vendor/countdowntime/countdowntime.js' %}"></script>
	<!--===============================================================================================-->
	<script src="{% static 'account/register_login/js/main.js' %}"></script>

</body>

</html>