{% extends 'base_social_media.html' %}
{% load tags %}

{% block active_home %}
class="current-list-item"
{% endblock active_home %}

{% block search %}
	<div class="s004">
		<form  method="GET">
		<fieldset>
			<div class="inner-form">
			<div class="input-field">
				<input class="form-control" id="choices-text-preset-values" name="search_area" type="text"  value="{{search_input}}"  placeholder="Type to search..."  />
				<button class="btn-search" type="submit">
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
					<path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"></path>
				</svg>
				</button>
			</div>
			</div>
		</fieldset>
		</form>
	</div>							
{% endblock search %}
	

{% block header %}
	<div class="container">
		<div class="row">
			<div class="col-lg-8 offset-lg-2 text-center">
				<div class="breadcrumb-text">
					<h1>Social Media</h1>
				</div>
			</div>
		</div>
	</div>
{% endblock header %}

{% block content %}
<div class="latest-news mt-150 mb-150">
	<div class="container">
		<div class="row">
			{% for post in posts %}

			<div class="col-lg-4 col-md-6">
				<div class="single-latest-news">
					<div class="latest-news-bg news-bg-1"><img src="{{post.image.url}}" alt=""></div>
					<br><br><br><br><br>

					<div class="news-text-box">
						<br>
						<h3><a href="">{{post.title}}</a></h3>
						<p class="blog-meta">
							<span class="author"><i class="fas fa-user"></i> <a
									href="{% url 'account:profile' post.user.id %}">{{post.user.profile.get_full_name}}</a>
							</span>
							<span class="date"><i class="fas fa-calendar"></i>{{post.update}}</span>
						</p>
						<p class="excerpt">{{post.body|truncatewords:20}}</p>
						
						{% if request.user.is_authenticated %}
							{% is_like_post  post.id as is_like %}
							{% if not is_like %}
								<pre><a class="btn btn-danger" href="{% url 'social_media:like_post' post.id %}">Like</a>                      {{post.post_likes.count}} likes</pre>
							{% else %}
								<pre><a class="btn btn-danger" href="{% url 'social_media:dislike_post' post.id %}">DisLike</a>                 {{post.post_likes.count}} likes</pre>

							{% endif %}
						{% else %}
							<pre><a class="btn btn-danger" href="{% url 'account:login' %}">Like</a>                      {{post.post_likes.count}} likes</pre>
						{% endif %}
							

							
					</div>
				</div>
			</div>
			{% endfor %}

		</div>


		<div class="row">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 text-center">
						<div class="pagination-wrap">
							<ul>
								{% if page_obj.has_previous %}
								<li><a href="?page={{ page_obj.previous_page_number }}">Prev</a></li>
								{% endif %}

								{% for i in paginator.page_range %}
								{% if page_obj.number == i %}

								<li><a style="color:#F28123">{{i}}</a></li>
								{% else %}

								<li><a href="?page={{ i }}">{{i}}</a></li>
								{% endif %}
								{% endfor %}
								{% if page_obj.has_next %}
								<li><a href="?page={{ page_obj.next_page_number }}">Next</a></li>>
								{% endif %}
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<!-- copyright -->
<div class="copyright">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-12">
				<p><a href="https://imransdesign.com/"></a></p>
			</div>
			<div class="col-lg-6 text-right col-md-12">
				<div class="social-icons">
					<ul>

					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end copyright -->

{% endblock content %}